@import './../../Scss/config.scss';

.notification {
    padding: 16px;
    color: #fff;
    position: absolute;
    right: 6px;
    top: 66px;
    width: 100%;
    max-width: 270px;
    min-height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.15);
    animation-name: notify;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    transform: translateX(400px);
    opacity: 0;

    @keyframes notify {
        0% {
            

        }
        10% {
            opacity: 1;
            transform: translateX(0);
        }
        90% {
            opacity: 1;
            transform: translateX(0);
        }
        100% {
            opacity: 0;
            transform: translateX(400px);
        }
    }

    strong {
        margin-bottom: 4px;
        display: block;
    }
    
    &.error {
        background: red;
    }

    &.success {
        background: green;
    }
}
