@import './map.scss';
@import './../../Scss/config.scss';

.group {
    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        label {
            color: gray;
            font-size: 70%;
            display: block;
            line-height: 1em;
            margin-bottom: 3px;
        }

        &-new {
            border-left: 3px solid pink;
        }
    }

    &__form {
        width: clamp(350px, 350px, 350px);
        margin-right: 60px;

        & > div {
            margin-bottom: 6px;
        }
    }

    &__preview {
        width: clamp(450px, 450px, 450px);

        .dayTime {
            margin-bottom: 8px;
            justify-content: flex-start;
            align-items: center;

            span {
                display: inline-block;
                margin-right: 8px;
                width: 24px;
                border-radius: 50%;
                height: 24px;
                font-size: 80%;
                color: #fff;
                line-height: 24px;
                text-align: center;
                background: $prim;
            }

            input {
                max-width: 250px;
            }
        }

        td[day] {
            min-width: 60px;

            div {
                white-space: nowrap;
                font-size: 90%;
                text-align: center;
            }
        }
    }
}
