@import './map.scss';
@import './../../Scss/config.scss';

.group {
    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        label {
            color: gray;
            font-size: 70%;
            display: block;
            line-height: 1em;
            margin-bottom: 3px;
        }

        &-new {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cbffa9+0,ff8989+100&1+0,0+16,0+65 */
            background: linear-gradient(to right, rgba(203, 255, 169, 1) 0%, rgba(211, 236, 164, 0) 16%, rgba(237, 178, 148, 0) 65%, rgba(255, 137, 137, 0) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

            padding-left: 24px;
            border-radius: 4px;

        }
    }

    &__form {
        width: clamp(350px, 350px, 350px);
        margin-right: 60px;

        &>div {
            margin-bottom: 6px;
        }

    }

    &__preview {
        position: relative;
        width: clamp(450px, 450px, 450px);

        .dayTime {
            margin-bottom: 8px;
            justify-content: flex-start;
            align-items: center;

            span {
                display: inline-block;
                margin-right: 8px;
                width: 24px;
                border-radius: 50%;
                height: 24px;
                font-size: 80%;
                color: #fff;
                line-height: 24px;
                text-align: center;
                background: $prim;
            }

            &.dayHoly span {
                background: pink;
            }

            input {
                max-width: 250px;
            }
        }

        td[day] {
            min-width: 60px;

            div {
                white-space: nowrap;
                font-size: 90%;
                text-align: center;
            }
        }
    }
}

.deleteGroup {
    position: absolute;
    right: 0;
    top: 0;
}