@import './map.scss';

.group {
    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        label {
            color: gray;
            font-size: 70%;
            display: block;
            line-height: 1em;
            margin-bottom: 3px;
        }
    }

    &__form {
        margin-right: 60px;

        &>div {
            margin-bottom: 6px;
        }
    }

    &__preview {

        .dayTime {
            margin-bottom: 8px;
            justify-content: flex-start;

            span {
                display: inline-block;
                margin-right: 8px;
                width: 24px;
            }

            input {
                max-width: 250px;
            }
        }
    }
}