{/* <div>
                    <label>Долгота</label>
                    <input type="text" className="input glong" />
                </div><div>
                    <label>Регион</label>
                    <input type="text" className="input gregion" />
                </div><div>
                    <label>Город</label>
                    <input type="text" className="input gtown" />
                </div><div>
                    <label>Адрес</label>
                    <input type="text" className="input gaddress" />
                </div><div>
                    <label>Метро</label>
                    <input type="text" className="input gmetro" />
                </div><div>
                    <label>Телефон</label>
                    <input type="text" className="input gtel1" />
                </div><div>
                    <label>Телефон 2</label>
                    <input type="text" className="input gtel2" />
                </div><div>
                    <label>Имя</label>
                    <input type="text" className="input gname1" />
                </div><div>
                    <label>Имя 2</label>
                    <input type="text" className="input gname2" />
                </div><div>
                    <label>Мыло</label>
                    <input type="text" className="input gemail" />
                </div><div>
                    <label>Предупреждение</label>
                    <input type="text" className="input gwarning" />
                </div><div>
                    <label>Описание</label>
                    <input type="text" className="input gdescr" />
                </div><div>
                    <label>Тип группы</label>
                    <input type="text" className="input gtype" />
                </div><div>
                    <label>Мед учреждение?</label>
                    <input type="text" className="input gmed" />
                </div><div>
                    <label>Закрыто</label>
                    <input type="text" className="input gclosed" />
                </div> */}


                <table class="mapSchedule">
                  <tbody><tr>
                      <td day="ПН" class="today_td">
                          19:00 (о)
                      </td>
                      <td day="ВТ">
                      </td>
                      <td day="СР">
                      </td>
                      <td day="ЧТ">
                          19:00 (о)
                      </td>
                      <td day="ПТ">
                      </td>
                      <td day="СБ">
                      </td>
                      <td day="ВС">
                      </td>
                  </tr>
              </tbody></table>