

                    <label>Предупреждение</label>
                    <input type="text" className="input gwarning" />
                </div><div>

                    <label>Тип группы</label>
                    <input type="text" className="input gtype" />
                </div><div>
                    <label>Мед учреждение?</label>
                    <input type="text" className="input gmed" />
                </div><div>
                    <label>Закрыто</label>
                    <input type="text" className="input gclosed" />
                </div> */}


