body {
  background: yellow;
  border: 20px solid gray;
}
.glWrapper {
  min-height: 300px;
  background: violet;
  border: 11px dashed rgb(102, 0, 255);
}
GroupItem {
  border: 2px solid red;
}

.glItem {
  border: 2px solid black;
}