$lp: 12px;

$prim: #00A9FF;
$sec: #ccc;

/* COLORS */

$blue: #3bb2d0;
$darkblue: #3887be;
$gray: #3c4e5a;
$darkgray: #28353d;
$lightgray: #dbdada;
$lightblack: #222b30;
$violet: #5B2C6F;
$violight: #BA68C8;
$greenlight: #81C784;

$aa-blue: rgba(28, 49, 125, 1);
$aa-gray: rgba(197, 198, 200, 1);

$content-block-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

$max: 50;
$offset: 2;
$unit: 'px';

@mixin list-loop($className, $styleName) {
    $i: 0;

    @while $i <=$max {
        #{$className + $i} {
            #{$styleName}: #{$i + $unit};
        }

        $i: $i + $offset;
    }
}

// Margins
@include list-loop('.mt-', 'margin-top');
@include list-loop('.mr-', 'margin-right');
@include list-loop('.mb-', 'margin-bottom');
@include list-loop('.ml-', 'margin-left');
@include list-loop('.mx-', 'margin');

// Paddings
@include list-loop('.pt-', 'padding-top');
@include list-loop('.pr-', 'padding-right');
@include list-loop('.pb-', 'padding-bottom');
@include list-loop('.pl-', 'padding-left');
@include list-loop('.px-', 'padding');

.color {
    &-blue {
        color: $blue;
    }

    &-darkblue {
        color: $darkblue;
    }

    &-gray {
        color: $gray;
    }

    &-lightgray {
        color: $lightgray;
    }

    &-darkgray {
        color: $darkgray;
    }

    &-lightblack {
        color: $lightblack;
    }

    &-violight {
        color: $violight;
    }

    &-greenlight {
        color: $greenlight;
    }

    &-aa-blue {
        color: $aa-blue;
    }

    &-aa-gray {
        color: $aa-gray;
    }
}
