@import './config.scss';

* {
    box-sizing: border-box;
    font-family: Arial, Tahoma, 'Open Sans';
    font-size: 14px;
}

h2 {
    font-size: 120%;
}

body {
    background: #fff;
    padding: 0;
    margin: 0;
}

header {
    height: 60px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 0 30px 14px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    width: 100%;
}

footer {
    height: 60px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

main {
    padding: 0 24px 30px;
    display: flex;
    justify-content: space-between;
    min-width: 1240px;
}

.flex {
    display: flex;
    justify-content: space-between;

    &-end {
        justify-content: flex-end;
    }

    &-2 {
        &>div {
            flex-basis: 46%;
        }
    }

    &-3 {
        &>div {
            flex-basis: 30%;
        }
    }
}

.btn {
    padding: 0 12px;
    border: 0;
    line-height: 40px;
    border-radius: 3px;
    background: blue;
    display: flex;
    color: #fff;
    outline: 0 none !important;
    cursor: pointer;
    transition: .2s;
    text-decoration: none;
    font-size: 13px;

    &-lil {
        line-height: 26px;
        padding: 0 8px;
    }

}

input,
select,
textarea {
    width: 100%;
    line-height: 24px;
    min-height: 24px;
    padding: 0 8px;
    border-radius: 2px;
    display: block;
    outline: 0 none;
    font-size: 90%;
    border: 0;
    box-shadow: 0 0 1px 1px $sec;
    /*    appearance: none;
    -webkit-appearance: none;  */

    &:focus {
        box-shadow: 0 0 1px 1px $prim;
    }
}

textarea {
    height: 3em;
    min-height: 3em;
    resize: resize-y;
    line-height: 1.1em;
    padding-top: 6px;
    padding-bottom: 6px;
}

label {
    user-select: none;
}
